<section class="flex flex-col justify-center items-center h-full my-22 text-center">
  <h2 class="font-bold text-3xl">404</h2>

  <p class="mbs-3 text-2xl">Page not found</p>

  <p class="mbs-3 text-xl">
    The page you&rsquo;re looking for isn&rsquo;t here. It&nbsp;might have been removed, or&nbsp;the
    link is&nbsp;broken.
  </p>

  <p class="mbs-1 text-xl">Click the button below to&nbsp;continue your movie search.</p>

  <app-button class="mbs-2" [variant]="'contained'" (click)="_navigateToHome()">Go Home</app-button>
</section>
