@let iconName = icon();
@let external = isExternal();

@if (routerLink()) {
  <a
    #rla="routerLinkActive"
    routerLinkActive="text-amber-500 underline underline-offset-4 pointer-events-none"
    ariaCurrentWhenActive="page"
    [attr.tabindex]="rla.isActive ? -1 : 0"
    [class]="_className()"
    [routerLink]="routerLink()"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    @if (iconName) {
      <app-icon size="s" [name]="iconName" />
    }

    {{ text() }}</a
  >
} @else {
  <a
    [class]="_className()"
    [href]="href()"
    [attr.target]="external ? '_blank' : null"
    [attr.rel]="external ? 'noopener noreferrer' : null"
    [attr.aria-current]="ariaCurrent()"
  >
    @if (iconName) {
      <app-icon [size]="'s'" [name]="iconName" />
    }

    {{ text() }}</a
  >
}
