@let films = _filmsService.getFilms({ title: this._titleFilter() });

<app-breadcrumb [items]="_breadcrumbs()" />

<section class="flex flex-col mbs-5" aria-label="Film catalogue">
  <app-input
    class="max-w-xs w-full mx-auto"
    appAutofocus
    [icon]="'search'"
    [placeholder]="'Search film'"
    (input)="_searchFilmByTitle($event)"
  />

  @if (films.length > 0) {
    <app-film-list
      class="mbs-6"
      [films]="films"
      (toggleFavoriteStatus)="_toggleFilmFavoriteStatus($event)"
    />
  } @else {
    <app-empty
      class="mbs-34"
      [heading]="'Nothing found'"
      [description]="'Try checking the spelling or&nbsp;use a&nbsp;different movie title'"
      [icon]="'search-off'"
    />
  }
</section>
